<li class="comments__item" data-comment-id="<%= comment.id %>">
  <div class="post__user">
    <a href="/profile/<%= comment.author.username %>">
      <img
        class="post__avatar"
        src="https://i.stack.imgur.com/HQwHI.jpg"
        alt="<%= comment.author.username %>"
      />
    </a>
  </div>
  <div class="post__body">
    <h3 class="post__username">
      <a href="/profile/<%= comment.author.username %>">
        <%= comment.author.name %>
      </a>
    </h3>
    <p class="post__content"><%= comment.content %></p>
    <div class="post__footer">
      <div
        class="post__reactions <% if (user) { %>post__reactions--active<% } %>"
      >
        <button class="post__reaction-btn" data-reaction="thumb">
          👍
          <span class="post__reaction-count"
            ><%= comment?.reactions?.thumb || 0 %></span
          >
        </button>
        <button class="post__reaction-btn" data-reaction="smile">
          😀
          <span class="post__reaction-count"
            ><%= comment?.reactions?.smile || 0 %></span
          >
        </button>
        <button class="post__reaction-btn" data-reaction="star">
          ⭐
          <span class="post__reaction-count"
            ><%= comment?.reactions?.star || 0 %></span
          >
        </button>
        <button class="post__reaction-btn" data-reaction="heart">
          ❤️
          <span class="post__reaction-count"
            ><%= comment?.reactions?.heart || 0 %></span
          >
        </button>
      </div>
      <p class="post__date"><%= comment.createdAt %></p>
    </div>
  </div>
</li>
