<li
  class="posts__item posts__item--shadow"
  data-timeline-item-id="<%= timelineItem.id %>"
  data-post-id="<%= timelineItem.post.id %>"
>
  <div class="post__user">
    <a href="/profile/<%= timelineItem.post.author.username %>">
      <img
        class="post__avatar"
        src="https://i.stack.imgur.com/HQwHI.jpg"
        alt="<%= timelineItem.post.author.username %>"
    /></a>
  </div>
  <div class="post__body">
    <h3 class="post__username">
      <% if (timelineItem.post.author.id !== timelineItem.author?.id) { %>
      <a href="/profile/<%= timelineItem.post.author.username %>">
        <%= timelineItem.post.author.name %>
      </a>
      →
      <a href="/profile/<%= timelineItem.author.username %>">
        <%= timelineItem.author.name %>
      </a>
      <% } else { %>
      <a href="/profile/<%= timelineItem.post.author.username %>">
        <%= timelineItem.post.author.name %>
      </a>
      <% } %>
    </h3>
    <p class="post__content"><%= timelineItem.post.content %></p>
    <div class="post__footer">
      <div
        class="post__reactions <% if (user) { %>post__reactions--active<% } %>"
      >
        <button
          class="post__reaction-btn <%= timelineItem.post.userReactions?.like ? 'post__reaction-btn--selected': '' %>"
          data-reaction="like"
        >
          👍
          <span class="post__reaction-count"
            ><%= timelineItem.post?.reactions?.like || 0 %></span
          >
        </button>
        <button
          class="post__reaction-btn <%= timelineItem.post.userReactions?.smile ? 'post__reaction-btn--selected': '' %>"
          data-reaction="smile"
        >
          😀
          <span class="post__reaction-count"
            ><%= timelineItem.post?.reactions?.smile || 0 %></span
          >
        </button>
        <button
          class="post__reaction-btn <%= timelineItem.post.userReactions?.star ? 'post__reaction-btn--selected': '' %>"
          data-reaction="star"
        >
          ⭐
          <span class="post__reaction-count"
            ><%= timelineItem.post?.reactions?.star || 0 %></span
          >
        </button>
        <button
          class="post__reaction-btn <%= timelineItem.post.userReactions?.heart ? 'post__reaction-btn--selected': '' %>"
          data-reaction="heart"
        >
          ❤️
          <span class="post__reaction-count"
            ><%= timelineItem.post?.reactions?.heart || 0 %></span
          >
        </button>
      </div>
      <p class="post__date"><%= timelineItem.post.createdAt %></p>
    </div>
    <div class="post__collab">
      <div class="post__comments">
        <% if (user && user.id) { %>
        <form action="/post" method="post" class="create-comment__form">
          <input
            type="hidden"
            name="parentPostId"
            value="<%= timelineItem.post.id %>"
          />
          <input
            class="input create-comment__form-input"
            type="text"
            name="content"
            placeholder="Add a comment"
          />
          <input
            class="btn btn--primary create-comment__share-btn"
            type="submit"
            value="Reply"
          />
        </form>

        <% } %> <% if (timelineItem.post.childPosts?.length) { %>
        <h5>Comments</h5>
        <ul class="comments" data-post-id="<%= timelineItem.post.id %>">
          <% timelineItem.post.childPosts.forEach(comment => { %> <%-
          include('timelineItemComment', { comment, hey:'123' }) %> <% }) %>
        </ul>
        <% } %>
      </div>
    </div>
  </div>
</li>
